<!doctype html>
<html>
    <head>
        <h1>Delete Book</h1>
    </head> 
    <body>
        <p>Are you sure you want to delete {{book.title}}?</p>
        <form action="{{url_for('deleteBook', book_id=book.id)}}" method='POST'>
            <input type='submit' value='Delete'>
            <a href="{{url_for('home')}}">Cancel</a>
        </form>
    </body>
</html>
