<!doctype html>
<html>
    <head>
        <h1>Edit Book</h1>
    </head> 
    <body>
        <p>Name:</p>
        <form action="{{url_for('editBook', book_id=book.id)}}" method='POST'>
            <input type='text' size='30' name='name'>
            <input type='submit' value='Edit'>
            <a href="{{url_for('home')}}">Cancel</a>
        </form>
    </body>
</html>
