<!doctype html>
<html>
    <head>
        <h1>New Book</h1>
    </head> 
    <body>
        <p>Name:</p>
        <form action="{{url_for('newBook')}}" method='POST'>
            <input type='text' size='30' name='name'>
            <input type='submit' value='Create'>
        </form>
    </body>
</html>
