<!doctype html>
<html>
    <head>
        <h1>Books</h1>
    </head> 
    <body>
        {% if books == [] %}
            <p>No books</p>
        {% else %}
            {% for book in books %}
                <div>
                    {{book.title}}
                    <br/> 
                    <a href="{{url_for('editBook', book_id=book.id)}}">Edit books</a>
                    <br/>
                    <a href="{{url_for('deleteBook', book_id=book.id)}}">Delete books</a>
                    <br/> <br/>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>
